<!DOCTYPE html>
<html manifest="../quran.manifest" ng-app="quran">
    <head>
        <title>Al Qur'an</title>
        
        <link rel="stylesheet" type="text/css" href="/appdata/styles/style.css">
    </head>
    <body>
        <div ui-view></div>
        
        <script src="/components/bower/angular/angular.min.js"></script>
        <script src="/components/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
        
        <script src="/appdata/config.js"></script>
        <script src="/appdata/controllers.js"></script>
        <script src="/appdata/filters.js"></script>
        <script src="/appdata/services.js"></script>
    </body>
</html>